<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">  
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Test App</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/register/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </nav>
        <div class="jumbotron">
            <h1>Welcome to Test!</h1>
            <p class="lead">We're going to build a cool application with the MVC framework</p>
            <p><a class="btn btn-lg btn-success" href="/register/" role="button">Click here to Register!</a></p>
        </div>
        <div class="row">
            <div class="col-md-4">
              <h2>Manage Users</h2>
              <p>Using the application you'll learn to how to add, remove, and dit users.</p>
            </div>
            <div class="col-md-4">
              <h2>Leave Messages</h2>
              <p>Users will be able to leave messages with other users using the application.</p>
           </div>
            <div class="col-md-4">
              <h2>Edit User Information</h2>
              <p>Admin will be able to edit another user's information (email address, first name, last name, etc)</p>
            </div>
        </div>
    </div>
</body>
</html>